@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background-color: slateblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 1;
    animation: show-content 1s linear forwards;
    animation-delay: 1s;
}

@keyframes show-content {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 50px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
}

.navbar ul li:hover a, 
.navbar ul li.active a {
    color: #7cf03d;
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 60px 9% 0;
    height: 100vh;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1s linear forwards;
    animation-delay: 1s;
}

.home-info h1 {
    font-size: 35px;
}

.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 3s linear infinite;
    animation-delay: calc(-2s * var(--i));
}

@keyframes display-text {
    25%,
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    color: #7cf03d;
    border-right: 2px solid #7cf03d;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(0.8s) infinite alternate;
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

.home-info p {
    font-size: 16px;
    text-align: left;
    margin: 10px 0 25px 0;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(43, 255, 0);
    border: 2px solid blue;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 3s;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 40px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 0.5s;
}

.home-info .btn-sci .sci a:hover {
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
    animation: glow-pulse 0.8s infinite;
}

.home-img .img-box {
    position: relative;
    width: 25vw;
    height: 25vw;
    background: rgb(0, 14, 82);
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: "";
    position: absolute;
    width: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bar .4s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bar {
    100% {
        transform: translateY(0);
    }
}

@keyframes glow-pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(255, 251, 0, 0.2);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 30px rgb(0, 42, 255);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 30, 255, 0.2);
    }
}

.hilo {
    color: #fb8916;
}

#img_id {
    box-shadow: -2px 0px 4px rgb(68, 255, 0);
    width: 30px;
    height: 30px;
}
